* {
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}

body {
 font-family: "Hind", "Vadodara";
}

.a5-main-section {
    padding: 175px 311px;
}

.a5-cap-container {
    margin: 0 auto;
    max-width: 818px;
    width: 100%;
}

.a5-cap-heading {
 color: #10143b;
 font-size: 40px;
 font-weight: 500;
 line-height: 45px;
 text-align: center;
}

.a5-main-section p {
 color: #121212;
 font-size: 16px;
 margin-top: 16px;
 text-align: center;
}

.a5-main-section input {
 align-content: center;
 background-color: #fff;
 border-radius: 10px;
 border: 1px solid #bdbec0;
 height: 56px;
 margin-top: 32px;
 width: 818px;
}
