.lower{
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    color: #10143b;
}

.lower-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.option-card{
    column-gap: 24px;
    border:1px solid rgb(218, 214, 214) ;
    border-radius: 15px;
    justify-content: space-around;
    max-height: 374px;

}

.lower p {
    margin-left: 24px;
}

.lower img {
    margin-right: 24px;
}