@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');
*{
    margin: 0;
    padding: 0;
}
.texts1, .texts2 {
    font-family: 'Hind Vadodara', sans-serif;
    color: #10143b;
}

.texts1 {
    font-size: 40px;
    line-height: 45px;
    padding-bottom: 16px;
}

.texts2 {
    font-size: 16px;
    line-height: 24px;
}

.landing-hero {
    background: url('./Landing\ page/hero-smile.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 740px;
}

.landing-cont {
    background: linear-gradient(90.65deg, #10143B 2.13%, rgba(16, 20, 59, 0.579917) 34.9%, rgba(16, 20, 59, 0) 99.44%);
    height: 100%;
}

.lnd-hero__heading {
    color: #fff;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 24px;
    margin-top: 86.03px;
    max-width: 611px;
}

.lnd-para {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    max-width: 394px;
}

.landing-padding{
    padding: 64px 100px;
    max-width: 100%;
}
/* options */
.options{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.options-container *, .undecided-container *, .featured-container *,
.testimonials-container * {
    color: #10143B;
}

.textsA {
    margin-bottom: 16px;
}

.textsB {
    margin-bottom: 32px;
}

.textsTH {
    line-height: 45px;
    margin-bottom: 16px;
}

.textsTP {
    margin-bottom: 32px;
}

/* undecided */
.landing-und-cont {
    background: #f0f2ff;
    padding: 64px 100px;
}

.undecided-container{
    background: #f0f2ff;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
}
.numbers{
    display: flex;
    margin: 94px 0 114px;
    justify-content: flex-start;
}
.img-number-wrapper{
    display: flex;
    margin-bottom: 16px; 
    align-items: center;
    justify-content: center;
    border: white;
    border-radius: 50%;

}
.left{
    width: 60%;
}

.ah-txt-cont {
    max-width: 440px;
}

.ah-num-cont {
    margin-left: 33px;
    margin-right: 103px;
}

.ah-num-cont2 {
    margin-right: 42px;
}

/* Featured school */
.schools{

    display: flex;
    column-gap: 24px;
    justify-content: center;
    max-width: 1240px;
    margin: 0 auto;
}
/* Testimonials */
.testimonials-container{
    background: #F9F9FF;
    max-width: 1240px;
    margin: 0 auto;
    
}
.testimonials{
    display: flex;
    column-gap: 24px;
}

.btn-cont {
    text-align: end;
}

/* Articles */
.articles{
    color: #10143b;
    display: flex;
    width: 100%;
    column-gap: 26px;
}

.articles-image-text {
    padding: 24px;
}

.articles-container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Button */
.hm-btn-see, .hm-btn.undecided {
    background: #cfa348;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
}

.hm-btn-see {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 101px;
}

.undecided{
    font-size: 16px;
    line-height: 16px;
    margin-top: 15%;
    padding: 20px 86px;
}

.featured-container {
    max-width: 1240px;
    margin: 0 auto;
}

.feature-text img {
    max-width: 292px;
}

.featured-container h2 {
    margin-bottom: 32px;
}

.feature-text p {
    margin-left: 8px;
}

.landing-testimonial-section {
    background: #F9F9FF;
}

.content * {
    color: #10143b;
}

.content h4 {
    font-size: 24px;
    line-height: 36px;
}